stages:
- stage: Build
  displayName: Build frontend
  jobs:
  - job: BuildJob
    displayName: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: "20.x"

    - script: |
        echo "NEXT_PUBLIC_BACKEND_URL=$(NEXT_PUBLIC_BACKEND_URL)" >> .env.local
        echo "NEXT_PUBLIC_ONBOARDING_API_URL=$(NEXT_PUBLIC_ONBOARDING_API_URL)" >> .env.local
        echo "NEXT_PUBLIC_CLIENT_ID=$(NEXT_PUBLIC_CLIENT_ID)" >> .env.local
        echo "NEXT_PUBLIC_AUTH_URL=$(NEXT_PUBLIC_AUTH_URL)" >> .env.local
        echo "---- ENV FILE ----"
        cat .env.local
      displayName: "Inject env vars"

    - script: |
        npm ci
        npm run build
      displayName: "Build Next.js"

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
        includeRootFolder: false
        archiveType: zip
        archiveFile: "$(Build.ArtifactStagingDirectory)/frontend.zip"

    - publish: "$(Build.ArtifactStagingDirectory)/frontend.zip"
      artifact: drop
