name: Azure Static Web Apps CI/CD

trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  - group: azure-static-web-apps-orange-moss-0f5ea9e03-variable-group

steps:
# 1. Install Node
- task: NodeTool@0
  inputs:
    versionSpec: "20.x"
  displayName: "Install Node.js"

# 2. Install dependencies
- script: npm ci
  displayName: "Install dependencies"

# 3. Build Next.js Static Web App output
- script: npm run build
  displayName: "Build Next.js"

# 4. Deploy to Azure Static Web Apps
- task: AzureStaticWebApp@0
  inputs:
    azure_static_web_apps_api_token: $(SWA_DEPLOYMENT_TOKEN)
    app_location: "/"
    output_location: ".next"
  displayName: "Deploy to Azure Static Web Apps"
