# Zordrax-Analytica | Frontend CI/CD

trigger:
  branches:
    include:
      - main

pool:
  vmImage: "ubuntu-latest"

variables:
- group: azure-static-web-apps-orange-moss-0f5ea9e03-variable-group
- name: appName
  value: "zordrax-frontend"
- name: environment
  value: "dev"
- name: SERVICE_CONNECTION
  value: "zordrax-analytica-dev-spn"

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: "20.x"

    - script: |
        npm ci
        echo "NEXT_PUBLIC_ONBOARDING_API_URL=$(NEXT_PUBLIC_ONBOARDING_API_URL)" >> $GITHUB_ENV
        npm run build
      displayName: "Build Next.js"
      env:
        NEXT_PUBLIC_ONBOARDING_API_URL: $(NEXT_PUBLIC_ONBOARDING_API_URL)

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: "$(System.DefaultWorkingDirectory)"
        includeRootFolder: false
        archiveType: zip
        archiveFile: "$(Build.ArtifactStagingDirectory)/frontend.zip"

    - publish: "$(Build.ArtifactStagingDirectory)/frontend.zip"
      artifact: drop

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployWeb
    environment: "$(environment)"
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            inputs:
              azureSubscription: "$(SERVICE_CONNECTION)"
              appType: webAppLinux
              appName: "$(appName)"
              package: "$(Pipeline.Workspace)/drop/frontend.zip"
